In [7]:
#imports
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd

In [14]:
#path for data on pe ratio

consfin_csv = "Resources/pe_ratio/company_pe.csv"

In [15]:
#limit amount of information imported vai pandas data frame

co_data_pd = pd.read_csv(consfin_csv)
co_data_pd.head()

,Symbol,Name,Sector,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings
0,MMM,3M Company,Industrials,222.89,24.31,2.332862,7.92,259.77,175.490,138721055226,9.048000e+09,4.390271,11.34,http://www.sec.gov/cgi-bin/browse-edgar?action...
1,AOS,A.O. Smith Corp,Industrials,60.24,27.76,1.147959,1.70,68.39,48.925,10783419933,6.010000e+08,3.575483,6.35,http://www.sec.gov/cgi-bin/browse-edgar?action...
2,ABT,Abbott Laboratories,Health Care,56.27,22.51,1.908982,0.26,64.60,42.280,102121042306,5.744000e+09,3.740480,3.19,http://www.sec.gov/cgi-bin/browse-edgar?action...
3,ABBV,AbbVie Inc.,Health Care,108.48,19.41,2.499560,3.29,125.86,60.050,181386347059,1.031000e+10,6.291571,26.14,http://www.sec.gov/cgi-bin/browse-edgar?action...
4,ACN,Accenture plc,Information Technology,150.51,25.47,1.714470,5.44,162.60,114.820,98765855553,5.643228e+09,2.604117,10.62,http://www.sec.gov/cgi-bin/browse-edgar?action...

In [16]:
pe_ratio_pd = co_data_pd[["Name", "Price/Earnings"]]
pe_ratio_pd.head()

                  Name  Price/Earnings
0           3M Company           24.31
1      A.O. Smith Corp           27.76
2  Abbott Laboratories           22.51
3          AbbVie Inc.           19.41
4        Accenture plc           25.47