In [27]:
import pandas as pd
import numpy as np
import scipy.stats as stats
from scipy.stats import linregress
from scipy.stats import sem, ttest_ind
from matplotlib import pyplot as plt
%matplotlib notebook

from re import sub
from decimal import Decimal

In [4]:
company_df = pd.read_csv("company_data.csv")
company_df.head()

,Symbol,Name,Sector,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings
0,MMM,3M Company,Industrials,222.89,24.31,2.332862,7.92,259.77,175.490,138721055226,9.048000e+09,4.390271,11.34,http://www.sec.gov/cgi-bin/browse-edgar?action...
1,AOS,A.O. Smith Corp,Industrials,60.24,27.76,1.147959,1.70,68.39,48.925,10783419933,6.010000e+08,3.575483,6.35,http://www.sec.gov/cgi-bin/browse-edgar?action...
2,ABT,Abbott Laboratories,Health Care,56.27,22.51,1.908982,0.26,64.60,42.280,102121042306,5.744000e+09,3.740480,3.19,http://www.sec.gov/cgi-bin/browse-edgar?action...
3,ABBV,AbbVie Inc.,Health Care,108.48,19.41,2.499560,3.29,125.86,60.050,181386347059,1.031000e+10,6.291571,26.14,http://www.sec.gov/cgi-bin/browse-edgar?action...
4,ACN,Accenture plc,Information Technology,150.51,25.47,1.714470,5.44,162.60,114.820,98765855553,5.643228e+09,2.604117,10.62,http://www.sec.gov/cgi-bin/browse-edgar?action...

In [11]:
#Number of Top 500 S&P Companies in each Industry Sector

company_group = company_df.groupby("Sector").count()
company_group[["Symbol"]]

                            Symbol
Sector
Consumer Discretionary          84
Consumer Staples                34
Energy                          32
Financials                      68
Health Care                     61
Industrials                     67
Information Technology          70
Materials                       25
Real Estate                     33
Telecommunication Services       3
Utilities                       28

In [60]:
#how many computer/math employees there are per state

math_emp = "BLS_math_employees.csv"
math_df = pd.read_csv(math_emp, encoding="utf-8")
math_df = math_df.sort_values("Mean_wage_yr", ascending=False)
math_df.head()

,State Name,State,Employ_No,Mean_wage_yr,Median_wage_yr,Employ per 1000 jobs
50,Washington,WA,164830,108660,106350,50.574
8,District of Columbia,DC,42120,108600,107780,59.123
4,California,CA,616270,108190,103310,36.235
49,Virginia,VA,206750,102430,98810,53.940
31,New Jersey,NJ,144240,101390,96480,35.612

In [51]:
fortune_1000 = pd.read_csv("fortune_1000_part.csv")
revenue_int = []
for x in fortune_1000["Revenues ($M)"]:
    revenue_int.append(float(x.replace("$","").replace(",","").replace(" ","")))
fortune_1000["Revenue as Int"] = revenue_int
fortune_1000

,Company,Revenues ($M),Profits ($M),Assets ($M),Employees,Sector,Industry,City,State,Revenue as Int
0,Walmart,"$500,343","$9,862.00","$204,522","2,300,000",Retailing,General Merchandisers,Bentonville,AR,500343.0
1,Exxon Mobil,"$244,363","$19,710.00","$348,691","71,200",Energy,Petroleum Refining,Irving,TX,244363.0
2,Berkshire Hathaway,"$242,137","$44,940.00","$702,095","377,000",Financials,Insurance: Property and Casualty (Stock),Omaha,NE,242137.0
3,Apple,"$229,234","$48,351.00","$375,319","123,000",Technology,"Computers, Office Equipment",Cupertino,CA,229234.0
4,UnitedHealth Group,"$201,159","$10,558.00","$139,058","260,000",Health Care,Health Care: Insurance and Managed Care,Minnetonka,MN,201159.0
5,McKesson,"$198,533","$5,070.00","$60,969","64,500",Wholesalers,Wholesalers: Health Care,SF,CA,198533.0
6,CVS Health,"$184,765","$6,622.00","$95,131","203,000",Health Care,Health Care: Pharmacy and Other Services,Woonsocket,RI,184765.0
7,Amazon.com,"$177,866","$3,033.00","$131,310","566,000",Retailing,Internet Services and Retailing,Seattle,WA,177866.0
8,AT&T,"$160,546","$29,450.00","$444,097","254,000",Telecommunications,Telecommunications,Dallas,TX,160546.0
9,General Motors,"$157,311","($3,864.00)","$212,482","180,000",Motor Vehicles & Parts,Motor Vehicles and Parts,Detroit,MI,157311.0
10,Ford Motor,"$156,776","$7,602.00","$257,808","202,000",Motor Vehicles & Parts,Motor Vehicles and Parts,Dearborn,MI,156776.0
11,AmerisourceBergen,"$153,144",$364.50,"$35,317","19,500",Wholesalers,Wholesalers: Health Care,Chesterbrook,PA,153144.0
12,Chevron,"$134,533","$9,195.00","$253,806","51,900",Energy,Petroleum Refining,San Ramon,CA,134533.0
13,Cardinal Health,"$129,976","$1,288.00","$40,112","40,400",Wholesalers,Wholesalers: Health Care,Dublin,OH,129976.0
14,Costco,"$129,025","$2,679.00","$36,347","182,000",Retailing,General Merchandisers,Issaquah,WA,129025.0
15,Verizon,"$126,034","$30,101.00","$257,143","155,400",Telecommunications,Telecommunications,New York,NY,126034.0
16,Kroger,"$122,662","$1,907.00","$37,197","449,000",Food & Drug Stores,Food and Drug Stores,Cincinnati,OH,122662.0
17,General Electric,"$122,274","($5,786.00)","$377,945","313,000",Industrials,Industrial Machinery,Boston,MA,122274.0
18,Walgreens Boots Alliance,"$118,214","$4,078.00","$66,009","290,000",Food & Drug Stores,Food and Drug Stores,Deerfield,IL,118214.0
19,JPMorgan Chase,"$113,899","$24,441.00","$2,533,600","252,539",Financials,Commercial Banks,New York,NY,113899.0
20,Fannie Mae,"$112,394","$2,463.00","$3,345,529","7,200",Financials,Diversified Financials,Leavenworth,WA,112394.0
21,Alphabet,"$110,855","$12,662.00","$197,295","80,110",Technology,Internet Services and Retailing,Mountain View,CA,110855.0
22,Home Depot,"$100,904","$8,630.00","$44,529","413,000",Retailing,Specialty Retailers: Other,Atlanta,GA,100904.0
23,Bank of America Corp.,"$100,264","$18,232.00","$2,281,234","209,376",Financials,Commercial Banks,Charlotte,NC,100264.0
24,Express Scripts Holding,"$100,065","$4,517.40","$54,256","26,600",Health Care,Health Care: Pharmacy and Other Services,St. Louis,MO,100065.0
25,Wells Fargo,"$97,741","$22,183.00","$1,951,757","262,700",Financials,Commercial Banks,SF,CA,97741.0
26,Boeing,"$93,392","$8,197.00","$92,333","140,800",Aerospace & Defense,Aerospace and Defense,Chicago,IL,93392.0
27,Phillips 66,"$91,568","$5,106.00","$54,371","14,600",Energy,Petroleum Refining,Houston,TX,91568.0
28,Anthem,"$90,040","$3,842.80","$70,540","56,000",Health Care,Health Care: Insurance and Managed Care,Indianapolis,IN,90040.0
29,Microsoft,"$89,950","$21,204.00","$241,086","124,000",Technology,Computer Software,Redmond,WA,89950.0
...,...,...,...,...,...,...,...,...,...,...
970,Nuance Communications,"$1,939",($151.00),"$5,932","11,600",Technology,Computer Software,Burlington,MA,1939.0
971,Finish Line,"$1,934",($18.20),$747,"8,200",Retailing,Specialty Retailers: Apparel,Indianapolis,IN,1934.0
972,TransUnion,"$1,934",$441.20,"$5,119","5,100",Business Services,Financial Data Services,Chicago,IL,1934.0
973,ServiceNow,"$1,933",($149.10),"$3,398","6,222",Technology,Computer Software,Santa Clara,CA,1933.0
974,Summit Materials,"$1,933",$121.80,"$3,787","6,000",Materials,"Building Materials, Glass",Denver,CO,1933.0
975,Engility Holdings,"$1,932",($35.20),"$2,026","8,700",Aerospace & Defense,Aerospace and Defense,Chantilly,VA,1932.0
976,Ferrellgas Partners,"$1,930",($54.20),"$1,610","3,891",Energy,Energy,Overland Park,KS,1930.0
977,Interactive Brokers Group,"$1,927",$76.00,"$61,162","1,228",Financials,Securities,Greenwich,CT,1927.0
978,Stepan,"$1,925",$91.60,"$1,471","2,096",Chemicals,Chemicals,Northfield,IL,1925.0
979,Oceaneering International,"$1,922",$166.40,"$3,024","8,200",Energy,"Oil and Gas Equipment, Services",Houston,TX,1922.0
980,Cimarex Energy,"$1,918",$494.30,"$5,043",910,Energy,"Mining, Crude-Oil Production",Denver,CO,1918.0
981,Rexnord,"$1,918",$74.10,"$3,539","8,000",Industrials,Industrial Machinery,Milwaukee,WI,1918.0
982,Beazer Homes USA,"$1,916",$31.80,"$2,221","1,100",Engineering & Construction,Homebuilders,Atlanta,GA,1916.0
983,MKS Instruments,"$1,916",$339.10,"$2,414","4,923",Technology,Semiconductors and Other Electronic Components,Andover,MA,1916.0
984,Vail Resorts,"$1,907",$210.60,"$4,111","20,150","Hotels, Restaurants & Leisure","Hotels, Casinos, Resorts",Broomfield,CO,1907.0
985,Ohio National Mutual,"$1,907",$25.90,"$41,843","1,300",Financials,"Insurance: Life, Health (stock)",Cincinnati,OH,1907.0
986,TopBuild,"$1,906",$158.10,"$1,750","8,400",Engineering & Construction,"Engineering, Construction",Daytona Beach,FL,1906.0
987,Brown & Brown,"$1,881",$399.60,"$5,748","8,491",Financials,Insurance: Property and Casualty (Stock),Daytona Beach,FL,1881.0
988,Aerojet Rocketdyne Holdings,"$1,877",($9.20),"$2,259","5,157",Aerospace & Defense,Aerospace and Defense,El Segundo,CA,1877.0
989,Barnes & Noble Education,"$1,874",$5.40,"$1,300","13,375",Retailing,Specialty Retailers: Other,Bernards,NJ,1874.0
990,Superior Energy Services,"$1,874",($205.90),"$3,110","6,400",Energy,"Oil and Gas Equipment, Services",Houston,TX,1874.0
991,VeriFone Systems,"$1,871",($173.80),"$2,322","5,600",Technology,Financial Data Services,San Jose,CA,1871.0
992,Childrens Place,"$1,870",$84.70,$940,"9,800",Retailing,Specialty Retailers: Apparel,Secaucus,NJ,1870.0
993,Tribune Media,"$1,867",$194.10,"$8,169","6,000",Media,Entertainment,Chicago,IL,1867.0
994,Healthcare Services Group,"$1,866",$88.20,$676,"55,000",Health Care,Health Care: Pharmacy and Other Services,Bensalem,PA,1866.0
995,SiteOne Landscape Supply,"$1,862",$54.60,$911,"3,664",Wholesalers,Wholesalers: Diversified,Roswell,GA,1862.0
996,Charles River Laboratories Intl,"$1,858",$123.40,"$2,930","11,800",Health Care,Health Care: Pharmacy and Other Services,Wilmington,MA,1858.0
997,CoreLogic,"$1,851",$152.20,"$4,077","5,900",Business Services,Financial Data Services,Irvine,CA,1851.0
998,Ensign Group,"$1,849",$40.50,"$1,102","21,301",Health Care,Health Care: Medical Facilities,Mission Viejo,CA,1849.0
999,HCP,"$1,848",$414.20,"$14,089",190,Financials,Real estate,Irvine,CA,1848.0

In [56]:
fortune_group = fortune_1000.groupby("State")
fortune_count = fortune_group["Revenue as Int"].count()
fortune_count

State
AL               3
AR               8
AZ              17
CA             118
CO              19
CT              27
DE               2
FL              35
GA              30
HI               3
IA               6
ID               3
IL              70
IN              17
KS               6
KY               9
LA               3
MA              32
MD              12
ME               1
MI              27
MN              25
MO              23
MS               1
Michigan         1
NC              26
ND               1
NE               8
NH               2
NJ              33
NV               9
NY              93
OH              57
OK              10
OR               5
PA              42
Puerto Rico      2
RI               7
SC               5
TN              23
TX              94
UT               4
VA              38
VT               1
WA              20
WI              22
Name: Revenue as Int, dtype: int64

In [54]:
fortune_mean = fortune_group["Revenue as Int"].mean()
fortune_mean

State
AL              4651.466667
AR             71746.875000
AZ              6149.411765
CA             14922.652542
CO              7440.315789
CT             13847.222222
DE              5681.000000
FL              9397.025714
GA             14390.233333
HI              2433.000000
IA              5963.666667
ID             28144.000000
IL             13901.100000
IN             11762.470588
KS              4072.666667
KY              9284.666667
LA             10506.333333
MA             12412.531250
MD              9778.666667
ME              1969.000000
MI             19178.703704
MN             22332.920000
MO             11784.434783
MS              3342.000000
Michigan       62683.000000
NC             12517.923077
ND              4444.000000
NE             36616.375000
NH              2883.500000
NJ             13188.909091
NV              5423.888889
NY             16296.639785
OH             13076.494737
OK              6944.700000
OR             10216.200000
PA             12694.285714
Puerto Rico     2530.500000
RI             32481.000000
SC              4336.400000
TN             11902.043478
TX             15934.510638
UT              2691.500000
VA             10701.105263
VT              2275.000000
WA             32088.250000
WI              6973.381818
Name: Revenue as Int, dtype: float64